<div class="col-lg-8 col-md-9 col-11 mx-auto">
  <div class="mx-auto text-center mb-5">
    <h1 style="font-size:64px">L'association Synapse</h1>
  </div>
  <p>
    L'association Synapse est constituée d'une partie des membres (plus de 600) de la cohorte PROOF. Elle a pour but de :
  </p>
  <ul style="font-size:16px">
    <li style="font-size:16px">
      Participer au financement de chercheurs travaillant à l'objet social, directement ou indirectement;
    </li>
    <li style="font-size:16px">
      Financer le matériel et la formation nécessaire à la recherche scientifique et médicale, particulièrement la recherche sur le système nerveux autonome, sa physiologie, ses sciences impliquées, ses explorations, ses applications;
    </li>
    <li style="font-size:16px">
      Promouvoir la diffusion, par tous les moyens, des connaissances acquises y compris par le recours à des spécialistes en analyses statistiques, informatiques ou tout autre spécialité qui sera jugée nécessaire;
    </li>
    <li style="font-size:16px">
      Contribuer au soutien direct de personnes, de collectivités ou associations confrontées à des problèmes médicaux en relation avec les buts de la recherche.
    </li>
  </ul>

</div>
