.service {
  background-image: url('../../assets/img/pattern.png');
  background-repeat: repeat-x repeat-y;

}

  .service h2 {
    font-size: 90px;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .service h4 {
    font-size: 24px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 70px;
    display: block;
  }
