<div class="container mx-auto col-9">

  <div class="row">
    <div class="text-center">
      <h1 class="text-center" style="font-size: 110px;">&Eacute;tude PROOF</h1>
      <h4>Cohorte en population générale : Evaluation Prospective de l'activité du Système Nerveux Autonome (SNA) comme indicateur pronostic d'évènements cardiovasculaires</h4>
    </div>
    <div class="introduction">
      <p>
        L'objectif principal est d'évaluer de façon prospective la valeur prédictive de l'activité du Système Nerveux Autoniome (SNA), et de son déclin au cours du suivi, sur la survenue d'évènements graves et cérébraux, et sur la mortalité toutes causes confondues, dans une population générale de sujets d'âge homogène, 65 ans à l'inclusion.<br />
        Des objectifs secondaires sont définis, analysant l'association entre activité du SNA et :
      </p>
    </div>
    <ul class="justify-content-left" style="list-style-type: none;">
      <li>1 - La présence et la sévérité des accidents vasculaires cérébraux à l’IRM,</li>
      <li>2 - Les performances neuropsychologiques,</li>
      <li>3 - Les facteurs de risques cardiovasculaires classiques,</li>
      <li>4 - La génétique des récepteurs spécifiques des neurotransmetteurs directement impliqués,</li>
      <li>5 - Les pathologies respiratoires du sommeil</li>
      <li>6 - Il sera résalisé des analyses temporelles pour déterminer les séquences chronologiques du déclin de l'activité du SNA et de la survenue de conditions pathologiques, y compris des conditions émergentes telles que les pathologies respiratoires du sommeil.</li>
    </ul>
  </div>
</div>


<div class="service mx-auto accordion rounded" id="accordionDomains">

  <div class="col-10 col-xs-12 text-center mx-auto mb-3">
    <h2>Domaines médicaux</h2>
    <h4>Activité du Système Nerveux Autonome (SNA), variabilité de la fréquence cardiaque, baroréflexe, variabilité de la pression artérielle, prévention, épidémiologie, sommeil</h4>
  </div>

    <div>
      <div id="HeartSudy">
        <button class="btn btn-link collapsed text-center mx-auto col-12 mt-3 text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div class="col-md-3 col-sm-6 single-service mx-auto">
            <div class="single-service-img">
              <div class="service-img">
                <img class="heart img-responsive" src="assets/img/cardio.png" alt="image Heart w/ ECG">
              </div>
            </div>
            <h3>Cardiologie</h3>
          </div>
        </button>
      </div>

      <div id="collapseOne" class="collapse mx-auto" aria-labelledby="HeartSudy" data-parent="#accordionDomains" style="background-color:#fff">
        <div class="card-body col-md-9 col-11 mx-auto">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div>
      <div id="BrainStudy">
        <button class="btn btn-link collapsed text-center mx-auto col-12 mt-5 text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div class="col-md-3 col-sm-6 mx-auto">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img class="brain img-responsive" src="assets/img/brain.png" alt="image brain">
                </div>
              </div>
              <h3>Neurologie</h3>
            </div>
          </div>
        </button>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="BrainStudy" data-parent="#accordionDomains" style="background-color:#fff">
        <div class="card-body col-md-9 col-11 mx-auto">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div>
      <div id="DNAStudy">
        <button class="btn btn-link collapsed text-center mx-auto col-12 mt-5 text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div class="col-md-3 col-sm-6  mx-auto">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img class="dna img-responsive" src="assets/img/adn.png" alt="image DNA">
                </div>
              </div>
              <h3>Génétique</h3>
            </div>
          </div>
        </button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="DNAStudy" data-parent="#accordionDomains" style="background-color:#fff">
        <div class="card-body col-md-9 col-11 mx-auto">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div>
      <div id="agingStudy">
        <button class="btn btn-link collapsed text-center mx-auto col-12 mt-5 text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <div class="col-md-3 col-sm-6 text-center mx-auto">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img class="old img-responsive" src="assets/img/oldMan.png" alt="image old man head">
                </div>
              </div>
              <h3>Vieillesse</h3>
            </div>
          </div>
        </button>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="agingStudy" data-parent="#accordionDomains"  style="background-color:#fff">
        <div class="card-body col-md-9 col-11 mx-auto">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br />
