<div class="navbar animated navbar-expand-lg navbar-light fixed-top mx-auto blue" id=Top>
  <!--105,173,227,0.9-->
  <a class="navbar-brand">Logo?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
    <h4 class="mx-auto">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link ml-4 mr-4" [routerLink]="['/']">Proof</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link ml-4 mr-4" [routerLink]="['/Etudes']" i18n> Les Etudes</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link ml-4 mr-4" [routerLink]="['/Equipes']" i18n>Les Equipes</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link ml-4 mr-4" [routerLink]="['/Articles']" i18n>Les Articles</a>
        </li>
      </ul>
    </h4>
    <button type="button" class="btn nav-item" onclick="window.open('http://synapse-recherche42.org')">
      <h4 class="nav-link text-dark" i18n>L'association Synapse</h4>
    </button>
  </div>
</div>
