<div class="navbar navbar-expand-lg navbar-light" style="background:rgba(92, 199, 237,0.9)">
  <a class="navbar-brand" [routerLink]="['/']" routeurLinkActive="router-link-active">Logo?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent" >
    <h4 class="mx-auto">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Proof<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/Etudes']" routerLinkActive="router-link-active">Etudes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Articles']" routerLinkActive="router-link-active">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Equipe']" routerLinkActive="router-link-active">Equipes</a>
      </li>
    </ul>
  </h4>
  </div>
</div>
