
<br /> 
<br /> 

<div id="silouette" class="mx-auto col-12 col-md-11 col-lg-7 col-xl-5 mt-5 justy-content-center">
  <div style="transform:translateY(-50px)" class="mx-auto">
    <div class="mx-auto row">
      <button class="btn alert-neuro mx-auto" id="cerveau" (click)="stop('cerveau')">Cerveau</button>
    </div>


    <div class="row mx-auto">
      <div class="mx-auto"><button class="btn alert-neuro" id="sna" (click)="stop('sna')">SNA</button></div>
      <div class="mx-auto"><button class="btn alert-neuro" id="sommeil" (click)="stop('sommeil')">Sommeil</button></div>
    </div>


    <div class="row mx-auto">
      <div class="mx-auto"><button class="btn alert-neuro" id="vision" (click)="stop('vision')">Vision</button></div>
      <div class="mx-auto"><button class="btn alert-neuro mx-auto ml-3" id="neuropsy" (click)="stop('neuropsy')">Neuro<br />Psychologie</button></div>
    </div>

    <div class="row mx-auto">
      <div class="mx-auto"><button class="btn alert-neuro mx-auto" id="peau" (click)="stop('peau')">Peau</button></div>
      <div class="mx-auto"><button class="btn alert-neuro mx-auto" id="coeur" (click)="stop('coeur')">Coeur et<br />vaisseaux</button></div>
    </div>
  </div>

  <div class="row mx-auto col-9" >
    <div><button class="btn alert-neuro mx-auto" id="génétique" (click)="stop('génétique')">Génétique</button></div>
  </div>

  <div style="transform:translateY(60px)">
    <div class="d-flex justify-content-end col-8 mx-auto">
      <div><button class="btn alert-neuro mx-auto" id="activite_physique" (click)="stop('activite_physique')">Activité <br />physique</button></div>
    </div>

    <div class="d-flex justify-content-end col-8 mx-auto" style="transform:translateY(60px)">
      <button class="btn alert-neuro" id="muscles" (click)="stop('muscles')">Muscles</button>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row mx-auto col-7">
    <button class="btn alert-neuro" id="marche" (click)="stop('marche')">Marche</button>
  </div>

</div>
  <br />
  <br />
  <br />
