<!--  
<div class="row mx-auto">
  <div class="fixed-bottom  mb-5 offset-md-11 offset-10 col-1"  (click)="scrollToTop()">
    <i class="fas fa-chevron-up rounded-circle" style="background:rgba(0,0,0,0.2); font-size: 300%" ></i>
  </div>
</div>
-->
<div class="row mx-auto">
  <div class="d-flex flex-column align-items-end fixed-bottom" (click)="scrollToTop()" style="padding-bottom:20px; padding-right:30px">
    <i class="fas fa-chevron-up rounded-circle" style="background:rgba(0,0,0,0.2); font-size: 300%" ></i>
  </div>
</div>
