<!--Titre-->
<div class="container mx-auto mt-5 mb-5 col-9">
  <div class="text-center" style="position: relative">
    <h1 class="text-center" style="font-size: 550%;" i18n>&Eacute;tude PROOF</h1>
    <h4 i18n>
      Proof est une <span data-toggle="tooltip" title="Groupe d'individus participant à une étude de suivi des circonstances d'apparition des maladies." data-placement="bottom" class="bold">cohorte</span>
      en population générale.
      Il s'agit d'une Evaluation de l'activité du <span data-toggle="tooltip" title="Vient en support au système nerveux moteur et sensitif. Comme une bonne mère, l'une de ses fonctions est de favoriser l'apport de sang aux organes qui en font la demande" data-placement="bottom" class="bold">Système Nerveux Autonome</span> (SNA)
      comme indicateur pronostic d'évènements cardiovasculaires
    </h4>
  </div>
</div>
<div class="col-12 col-md-9 mx-auto mt-5 mb-3">
  <h1>Les cohortes permettent de relier le passé et le présent.</h1>
</div>

<div class="parallax"></div>
<div class="offset-md-10 offset-8 col-md-2 col-4">Photo de Le Progrès</div>

<div class="col-12 col-md-9 mx-auto mt-5">
  <i class="d-none d-lg-block">Pour en savoir plus sur les mots en gras, passez votre souris dessus...</i>
  <i class=" d-lg-none">Pour en savoir plus sur les mots en gras, cliquez dessus...</i>
</div>
  <!--texte présentation PROOF-->
  <div class="mx-auto mt-5 col-lg-8 col-md-9 col-11 ">
    <div class="introduction">
      <p i18n>L'étude de cohorte permet d'évaluer plusieurs fois l'activité du Système Nerveux Autonome (SNA) et l’évolution parallèle de la santé des organes. Ceci vaut à la foi pour l’état de santé du cœur, du cerveau mais aussi des performances de mémoire.</p>
      <p i18n>La cohorte est composée de 1011 volontaires tous âgés de 65 ans au début de l'étude en 2001. Ces volontaires ont répondu à un appel de suivi à la suite d’un tirage au sort dans la liste électorale de ville de Saint-Etienne.</p>
      <p i18n>Les membres de la cohorte se sont prêtés à différents examens qui sont autant d’études conduites par des chercheurs spécialistes dans chaque domaine exploré.</p>
      <p i18n>La cohorte concernera plus tard les descendants de cette génération de pionniers.</p>
    </div>
  </div>
  <app-perso-etudes></app-perso-etudes>
  <br /><br />
