<!--Titre-->
<div class="container mx-auto mt-3 mb-5 col-9">
  <div class="text-center" style="position: relative">
    <h1 class="text-center" style="font-size: 550%;" i18n>&Eacute;tude PROOF</h1>
    <h4 i18n>
      Proof est une <span data-toggle="tooltip" title="Groupe d'individus participant à une étude statistique des circonstances d'apparition des maladies." data-placement="bottom" class="cohorte blue">cohorte</span>
      en population générale.
      Il s'agit d'une Evaluation de l'activité du Système Nerveux Autonome (SNA) comme indicateur pronostic d'évènements cardiovasculaires
    </h4>
  </div>
</div>

<div class="col-12 col-md-9 mx-auto mt-5">
  <h1>C'est quoi tous ces termes compliqués?</h1>

  <p class="d-none d-lg-block">Pour en savoir plus sur les mots soulignés, passez votre souris dessus...</p>

  <p class=" d-lg-none">Pour en savoir plus sur les mots soulignés, cliquez dessus...</p>
</div>

<div class="parallax"></div>
<div class="offset-md-10 offset-8 col-md-2 col-4">Photo de Le Progrès</div>

<!--texte présentation PROOF-->
<div class="mx-auto mt-5 col-lg-8 col-md-9 col-11 ">
  <div class="introduction">
    <p style="font-size: 18px;" i18n>
      L'objectif principal est d'évaluer de façon prospective la valeur prédictive de l'activité du Système Nerveux Autoniome (SNA) et de son déclin au cours du suivi, sur la survenue d'évènements cérébraux et cardiaques graves, et sur la mortalité toutes causes confondues. <br />
      La cohorte est composée de 1011 sujets tous âgés de 65 ans au début de l'étude en 2001.<br />
      Des objectifs secondaires sont définis, analysant l'association entre activité du SNA et :
    </p>
  </div>
  <ul class="justify-content-left" style="list-style-type: none;">
    <li i18n>1 - La présence et la sévérité des accidents vasculaires cérébraux à l’IRM,</li>
    <li i18n>2 - Les performances cognitives,</li>
    <li i18n>3 - Les facteurs de risques cardiovasculaires communs,</li>
    <li i18n>4 - La génétique des récepteurs spécifiques des neurotransmetteurs directement impliqués,</li>
    <li i18n>5 - Les pathologies respiratoires du sommeil.</li>
  </ul>
  <p style="font-size: 18px;" i18n>Des analyses sont réalisées pour déterminer les séquences chronologiques du déclin de l'activité du SNA et de la survenue de conditions pathologiques, y compris des conditions émergentes telles que les pathologies respiratoires du sommeil.</p>

</div>
<app-perso-etudes></app-perso-etudes>
<br /><br />
