<div class="col-9 mx-auto mt-3">
  <div class="col-6 mx-auto">
  <div id="carouselStudiesHome" class="carousel slide blue mx-auto row" data-ride="carousel">
    <div class="carousel-inner mx-auto text-center row">

      <div class="carousel-item active">
        <a href="/Etudes#heartStudy">
          <div class=" mt-5 single-service mx-auto text-center">
            <div class="single-service-img">
              <div class="service-img">
                <img class="heart img-responsive" src="assets/img/cardio.png" alt="image Heart w/ ECG">
              </div>
            </div>
            <h3 i18n>Cardiologie</h3>
          </div>
        </a>
      </div>

      <div class="carousel-item">
        <a href="/Etudes#brainStudy">
          <div class=" mt-5 single-service mx-auto text-center">
            <div class="single-service-img">
              <div class="service-img">
                <img class="brain img-responsive" src="assets/img/brain.png" alt="image brain">
              </div>
            </div>
            <h3 i18n>Neurologie</h3>
          </div>
        </a>
      </div>

      <div class="carousel-item">
        <a href="/Etudes#DNAStudy">
          <div class="mt-5 single-service mx-auto text-center">
            <div class="single-service-img">
              <div class="service-img">
                <img class="dna img-responsive" src="assets/img/adn.png" alt="image DNA">
              </div>
            </div>
            <h3 i18n>Génétique</h3>
          </div>
        </a>
      </div>

      <div class="carousel-item">
        <a href="/Etudes#agingStudy">
          <div class="mt-5 single-service mx-auto text-center">
            <div class="single-service-img">
              <div class="service-img">
                <img class="old img-responsive" src="assets/img/oldMan.png" alt="image old man head">
              </div>
            </div>
            <h3 i18n>Vieillesse</h3>
          </div>
        </a>
      </div>

    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselStudiesHome" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselStudiesHome" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

